<!DOCTYPE html>
<html>
<head>
    <title>Profile</title>
</head>
<body>
    <h1>Perfil</h1>
    <p>Usuario: {{user.username}}</p>
    <p>Email: {{user.email}}</p>
    <a href="/">Inicio</a>
    <a href="/logout">Salir</a>
</body>
</html>